.gallery-section {
  background: #efefe5;

  @include media(desktop) {
  }
}

.gallery-bg-wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.gallery-container {
  @include media(desktop) {
  }
}

.gallery-content-wrapper {
  @include media(desktop) {
  }
}

.gallery-title {
  text-align: center;

  @include media(desktop) {
  }
}

.gallery-subtitle {
  text-align: center;
  color: #6a6a6a;
  margin-bottom: 4px;

  @include media(desktop) {
  }
}

.gallery-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #6a6a6a;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }
}

.gallery-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

.gallery-slide {
  width: 100%;
  max-width: 343px;

  @include media(desktop) {
    max-width: 416px;
  }
}

.gallery-img {
  box-shadow: 8px 8px 16px 0 rgba(91, 91, 91, 0.12);
  border-radius: 24px;

  @include media(desktop) {
  }
}
