.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-section-wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.gameplay-container {
  padding: 0;

  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  border-radius: 64px;
  padding: 56px 16px;
  background:
    url(../img/gameplay/gameplay-bg-mob.png),
    linear-gradient(360deg, #113182 0%, #3090fd 100%);
  background-repeat: no-repeat, no-repeat;
  background-position:
    top 125px center,
    top center;
  background-size: auto, cover;

  @include media(desktop) {
    padding: 80px 64px;
    background:
      url(../img/gameplay/gameplay-bg-desk.png),
      linear-gradient(360deg, #113182 0%, #3090fd 100%);
    background-position:
      top center,
      top center;
  }
}

.gameplay-title {
  text-align: center;
  color: #fff;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.gameplay-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 528px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
  }
}

.gameplay-list {
  border: 8px solid transparent;
  border-radius: 48px;
  background:
    linear-gradient(#fff8e1, #fff8e1) padding-box,
    linear-gradient(180deg, #ffe082 0%, #ffb300 100%) border-box;
  padding: 56px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
  }
}

.gameplay-list-item {
  padding: 0 24px;
  width: 100%;
  max-width: 263px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    max-width: 284px;
  }
}

.gameplay-img {
  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #222;

  @include media(desktop) {
    font-size: 18px;
  }
}
