.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 315px;
  padding-bottom: 24px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 225px;
    padding-bottom: 163px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: 639px;
    margin-left: auto;
  }
}

.hero-main-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #303030;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 62px;
  }
}

.hero-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #6a6a6a;

  @include media(desktop) {
    font-size: 18px;
  }
}

.hero-top-text {
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 32px;
  }
}

.hero-bottom-text {
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 32px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 10px 0 rgba(102, 96, 77, 0.25);
  background: #ff8f00;
  border-radius: 50px;
  padding: 12px 20px;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #ee8500;

    .her-btn-top-text {
    }

    .her-btn-bottom-text {
    }
  }

  @include media(desktop) {
    max-width: 240px;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.her-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #404040;
  margin-bottom: 4px;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.her-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #404040;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}
