<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">About the Game</h2>
          <p class="section-subtitle about-subtitle">
            Toy Match: Royal Magic Blast lets players match 3 or more toys to
            clear puzzles.
          </p>
          <p class="about-text">
            Levels get trickier as you go, throwing new challenges your way like
            blocks, chains, and magic boosters. Players aim to complete
            objectives while unlocking rewards and magical surprises.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="496"
            height="519" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="359" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="359"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
