<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-top-wrapper">
          <div class="about-top-text-wrapper">
            <h2 class="section-title about-title">THE STORY OF JOE</h2>
            <p class="section-subtitle about-subtitle">
              Joe was a farmer with responsibilities — crops to tend, family to
              support, and little time for dreams. But inside him lived an
              artist.
            </p>
            <div class="about-text-container">
              <p class="about-text">
                He practiced drawing in sand and mud, experimenting with his old
                cropduster plane whenever he had a spare moment. Encouraged by a
                local pilot-artist, Joe committed to daily practice. Slowly, his
                skill improved. His sky drawings gained attention, and he earned
                the title of Best Local Artist of the Three Windmills.
              </p>
              <p class="about-text">But success only fueled his ambition.</p>
            </div>
          </div>
          <picture>
            <source
              srcset="./img/about/about-img1-desk.png"
              media="(min-width: 1440px)"
              width="512"
              height="375" />
            <source
              srcset="./img/about/about-img1-mob.png"
              width="343"
              height="251" />
            <img
              class="about-img1"
              src="./img/about/about-img1-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="251"
              loading="lazy"
          /></picture>
        </div>
        <div class="about-bottom-wrapper">
          <div class="about-text-container">
            <p class="about-text">
              Determined to become the best in the state — and eventually the
              country — Joe left home to compete. Along the way, he faced fierce
              rivals, including a cheating pilot who broke the rules with water
              cannons and destructive weapons. Joe’s plane was damaged, but his
              spirit remained unbroken.
            </p>
            <p class="about-text">
              He repaired, upgraded, and returned stronger.
            </p>
            <p class="about-text">
              Now it’s your turn to join Joe in the skies.
            </p>
          </div>
          <picture>
            <source
              srcset="./img/about/about-img2-desk.png"
              media="(min-width: 1440px)"
              width="512"
              height="407" />
            <source
              srcset="./img/about/about-img2-mob.png"
              width="343"
              height="273" />
            <img
              class="about-img2"
              src="./img/about/about-img2-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="273"
              loading="lazy"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
