<section class="section battles-section" id="battles">
  <div class="battles-bg-wrapper">
    <div class="container battles-container">
      <div class="battles-content-wrapper">
        <div class="battles-text-wrapper">
          <h2 class="section-title battles-title">
            SKY BATTLES & RIVAL PILOTS
          </h2>
          <p class="section-subtitle battles-subtitle">
            Joe’s journey isn’t peaceful.
          </p>
          <div class="battles-text-container">
            <p class="battles-text">
              Compete against other pilot-artists who try to disrupt your
              masterpiece. Some play fair. Others don’t. Face opponents who
              attempt to sabotage your flight using unconventional tactics.
              Outmaneuver them, protect your aircraft, and continue drawing
              without losing control.
            </p>
            <p class="battles-text">
              Each fight really puts you to the test - you've got to fly like a
              pro AND keep your artistic vision intact.
            </p>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/battles/battles-img-desk.png"
            media="(min-width: 1440px)"
            width="512"
            height="394" />
          <source
            srcset="./img/battles/battles-img-mob.png"
            width="343"
            height="244" />
          <img
            class="battles-img"
            src="./img/battles/battles-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="244"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
