<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <div class="contact-text-wrapper">
          <h2 class="section-title contact-title">Contact</h2>
          <p class="section-subtitle contact-subtitle">
            For feedback or support inquiries:
          </p>
          <p class="contact-text">
            Hit us up with your ideas, feedback, or just tell us about your own
            flying adventures!
          </p>
        </div>
        <a href="mailto:info@plainfield.pro" class="contact-link"
          ><span>info@plainfield.pro</span>
          <svg class="email-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-email"></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
