<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <h2 class="section-title contact-title">Contact</h2>
        <a href="mailto:info@wideanchor.pro" class="contact-link"
          ><span>info@wideanchor.pro</span>
          <span class="contact-icon-wrapper">
            <svg class="email-icon" width="21" height="21">
              <use href="./img/sprite.svg#icon-email"></use>
            </svg> </span
        ></a>
      </div>
    </div>
  </div>
</section>
