<section class="section details-section" id="details">
  <div class="details-bg-wrapper">
    <div class="container details-container">
      <div class="details-content-wrapper">
        <div class="details-text-wrapper">
          <h2 class="section-title details-title">GAME DETAILS</h2>
          <p class="details-text">
            Version: 1.0.3<br />
            Requires Android: 5.1 and up<br />
            Released on: Oct 1, 2023
          </p>
        </div>
        <picture>
          <source
            srcset="./img/details/details-img-desk.png"
            media="(min-width: 1440px)"
            width="512"
            height="350" />
          <source
            srcset="./img/details/details-img-mob.png"
            width="343"
            height="234" />
          <img
            class="details-img"
            src="./img/details/details-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="234"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
