<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <div class="faq-content-wrapper">
        <h2 class="section-title faq-title">FAQ</h2>
        <ul class="faq-list">
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is Drawing Plane a drawing game or a flight game?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="32" height="32">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              It’s both. You pilot the plane directly while creating artistic
              patterns in the sky. The game blends flight control mechanics with
              creative drawing tools, offering a unique hybrid experience.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I customize my drawings?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="32" height="32">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes. You can adjust brush colors and line thickness to create
              personalized artwork. As you progress, you gain more creative
              freedom and control over your style.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are there battles in the game?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="32" height="32">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes. Joe encounters rival pilot-artists during his journey. Some
              opponents use unfair tactics, so you must maneuver carefully and
              protect your aircraft while continuing to draw.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I upgrade my plane?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="32" height="32">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Absolutely. You can improve the engine, fuel tank, body, and
              overall performance. Upgrading helps you fly longer, handle
              better, and compete more effectively.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I save and share my artwork?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="32" height="32">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes. Your best drawings are stored in a gallery. You can review
              your progress and share your creations with friends.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
