<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <h2 class="section-title features-title">
          WHY DRAWING PLANE IS UNIQUE
        </h2>
        <ul class="features-list">
          <li class="features-list-item">
            <svg class="features-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="features-item-text">A story-driven arcade experience</p>
          </li>
          <li class="features-list-item">
            <svg class="features-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="features-item-text">
              Creative drawing mechanics combined with flight control
            </p>
          </li>
          <li class="features-list-item">
            <svg class="features-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="features-item-text">Customizable brushes and aircraft</p>
          </li>
          <li class="features-list-item">
            <svg class="features-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="features-item-text">Competitive sky challenges</p>
          </li>
          <li class="features-list-item">
            <svg class="features-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="features-item-text">
              Emotional journey of growth and perseverance
            </p>
          </li>
        </ul>
      </div>
    </div>
    <img
      class="features-img-desk"
      src="./img/features/features-img-desk.png"
      alt="Screenshot of the game"
      loading="lazy"
    />
  </div>
</section>
