<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <h2 class="section-title features-title">Features</h2>
          <ul class="features-list">
            <li class="features-list-item">
              <div class="features-icon-wrapper">
                <svg class="features-icon" width="34" height="34">
                  <use href="./img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="features-item-text">
                The graphics are super vibrant - kind of like if your old toy
                box came to life
              </p>
            </li>
            <li class="features-list-item">
              <div class="features-icon-wrapper">
                <svg class="features-icon" width="34" height="34">
                  <use href="./img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="features-item-text">
                Hundreds of levels with increasing challenge
              </p>
            </li>
            <li class="features-list-item">
              <div class="features-icon-wrapper">
                <svg class="features-icon" width="34" height="34">
                  <use href="./img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="features-item-text">
                Tons of power-ups for when you're completely stumped and need to
                blow stuff up
              </p>
            </li>
            <li class="features-list-item">
              <div class="features-icon-wrapper">
                <svg class="features-icon" width="34" height="34">
                  <use href="./img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="features-item-text">
                Special events and limited-time challenges
              </p>
            </li>
            <li class="features-list-item">
              <div class="features-icon-wrapper">
                <svg class="features-icon" width="34" height="34">
                  <use href="./img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="features-item-text">
                Progression rewards and unlockable content
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/features/features-img-desk.png"
            media="(min-width: 1440px)"
            width="384"
            height="388" />
          <source
            srcset="./img/features/features-img-mob.png"
            width="343"
            height="340" />
          <img
            class="features-img"
            src="./img/features/features-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="340"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
