<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <h2 class="section-title gameplay-title">GAMEPLAY</h2>
          <p class="section-subtitle gameplay-subtitle">
            Create Art While You Fly
          </p>
          <p class="gameplay-top-text">
            It's like being a pilot and an artist rolled into one - you've gotta
            nail both the flying and the creative stuff.
          </p>
        </div>
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-gameplay1"></use>
            </svg>
            <p class="gameplay-item-text">
              Pilot your plane smoothly across open landscapes
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-gameplay2"></use>
            </svg>
            <p class="gameplay-item-text">
              Draw lines and shapes using customizable brush tools
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-gameplay3"></use>
            </svg>
            <p class="gameplay-item-text">Adjust brush color and thickness</p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-gameplay4"></use>
            </svg>
            <p class="gameplay-item-text">
              Save your best creations to your gallery
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-gameplay5"></use>
            </svg>
            <p class="gameplay-item-text">Share your sky art with friends</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
