<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <h2 class="section-title gameplay-title">How to Play</h2>
        <p class="gameplay-text">
          It's super easy to learn, looks gorgeous when you're playing, and has
          that dangerous 'okay just one more...' addiction factor.
        </p>
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img1.png"
              alt="Screenshot of the game"
              width="80"
              height="80"
              loading="lazy"
            />
            <p class="gameplay-item-text">Select and swap adjacent toys</p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img2.png"
              alt="Screenshot of the game"
              width="80"
              height="80"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              Match 3+ toys of the same type to clear them
            </p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img3.png"
              alt="Screenshot of the game"
              width="80"
              height="80"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              Time your combos and boosters just right
            </p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img4.png"
              alt="Screenshot of the game"
              width="80"
              height="80"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              Complete all objectives before running out of moves
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
