<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">
          Toy Match :<br />
          Royal Magic Blast
        </h1>
        <p class="hero-subtitle">Match. Blast. Unleash Royal Magic.</p>
        <p class="hero-text">
          You'll catch yourself thinking three moves ahead, especially when you
          nail those epic combo chains.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.toyblast.toonblast.match.merge&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="playstore-icon" width="30" height="34">
            <use href="./img/sprite.svg#icon-playstore"></use>
          </svg>
          <div class="hero-btn-text-wrapper">
            <p class="her-btn-top-text">GET IT ON</p>
            <p class="her-btn-bottom-text">Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
