<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">Drawing Plane</h1>
        <p class="hero-text hero-top-text">
          Follow Joe, a farmer with big dreams, as he transforms from a humble
          cropduster pilot into a legendary sky artist. You'll sketch amazing
          designs over farmland, go head-to-head with other flying artists, soup
          up your ride, and show everyone that being creative beats just about
          anything.
        </p>
        <p class="hero-text hero-bottom-text">
          This isn’t just about flying. It’s about ambition, persistence, and
          turning dreams into motion.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.DefaultCompany.PlaneMobile&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="playstore-icon" width="30" height="34">
            <use href="./img/sprite.svg#icon-playstore"></use>
          </svg>
          <div class="hero-btn-text-wrapper">
            <p class="her-btn-top-text">GET IT ON</p>
            <p class="her-btn-bottom-text">Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
