<section class="mechanics-section section" id="mechanics">
  <div class="mechanics-section-wrapper">
    <div class="container mechanics-container">
      <div class="mechanics-content-wrapper">
        <h2 class="section-title mechanics-title">Core Mechanics</h2>
        <p class="mechanics-text">
          The matches need to feel amazing - like when you clear half the board
          in one move and can't help but grin.
        </p>
        <ul class="mechanics-list">
          <li class="mechanics-list-item">
            <img
              class="mechanics-img"
              src="./img/mechanics/mechanics-img1.png"
              alt="Screenshot of the game"
              width="126"
              height="121"
              loading="lazy"
            />
            <p class="mechanics-item-text">Swap and match 3 or more toys</p>
          </li>
          <li class="mechanics-list-item">
            <img
              class="mechanics-img"
              src="./img/mechanics/mechanics-img2.png"
              alt="Screenshot of the game"
              width="126"
              height="121"
              loading="lazy"
            />
            <p class="mechanics-item-text">
              Use boosters and special items to clear obstacles
            </p>
          </li>
          <li class="mechanics-list-item">
            <img
              class="mechanics-img"
              src="./img/mechanics/mechanics-img3.png"
              alt="Screenshot of the game"
              width="126"
              height="121"
              loading="lazy"
            />
            <p class="mechanics-item-text">
              Hit your level goals to move forward
            </p>
          </li>
          <li class="mechanics-list-item">
            <img
              class="mechanics-img"
              src="./img/mechanics/mechanics-img4.png"
              alt="Screenshot of the game"
              width="126"
              height="121"
              loading="lazy"
            />
            <p class="mechanics-item-text">
              Unlock new boards and magical environments
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
