<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#about">THE STORY</a>
      </li>
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#gameplay">GAMEPLAY</a>
      </li>
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#battles">SKY BATTLES</a>
      </li>
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#upgrades">UPGRADES</a>
      </li>
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#gallery">Gallery</a>
      </li>
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#features"
          >WHY DRAWING PLANE</a
        >
      </li>
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
