<section class="upgrades-section section" id="upgrades">
  <div class="upgrades-section-wrapper">
    <div class="container upgrades-container">
      <h2 class="section-title upgrades-title">PLANE UPGRADES</h2>
      <p class="section-subtitle upgrades-subtitle">
        Joe’s old cropduster isn’t enough to dominate the skies forever.
      </p>
      <p class="upgrades-text">
        Save money, invest wisely, and unlock new aircraft that match your
        flying style.
      </p>
      <ul class="upgrades-list">
        <li class="upgrades-list-item">
          <img
            class="upgrades-img"
            src="./img/upgrades/upgrades-img1.png"
            alt="Screenshot of the game"
            width="120"
            height="120"
            loading="lazy"
          />
          <p class="upgrades-item-text">Fuel tank for longer flights</p>
        </li>
        <li class="upgrades-list-item">
          <img
            class="upgrades-img"
            src="./img/upgrades/upgrades-img2.png"
            alt="Screenshot of the game"
            width="120"
            height="120"
            loading="lazy"
          />
          <p class="upgrades-item-text">Engine for stronger performance</p>
        </li>
        <li class="upgrades-list-item">
          <img
            class="upgrades-img"
            src="./img/upgrades/upgrades-img3.png"
            alt="Screenshot of the game"
            width="120"
            height="120"
            loading="lazy"
          />
          <p class="upgrades-item-text">Body for durability</p>
        </li>
        <li class="upgrades-list-item">
          <img
            class="upgrades-img"
            src="./img/upgrades/upgrades-img4.png"
            alt="Screenshot of the game"
            width="120"
            height="120"
            loading="lazy"
          />
          <p class="upgrades-item-text">Visual style for personalization</p>
        </li>
      </ul>
    </div>
  </div>
</section>
